
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
    <button (click)="signIn()" class="btn btn-primary">Sign in</button><br>
    <button (click)="logIn()" class="btn btn-primary">Log in</button><br>
    <button (click)="logOut()" class="btn btn-primary">Log out</button><br>
    <button [disabled]="showDeleteUserButton" (click)="deleteAccount()"
            class="btn btn-danger">Delete Account</button>
  </div>
</nav>

<div class="container">
  <form *ngIf="showRegisterForm" #registerForm="ngForm">

    <label>Login:<br>
      <input  class="form-control"
              [(ngModel)]="user.username" type="text"
              [ngStyle]="{border: usernameRef.invalid && usernameRef.dirty?
              '3px solid red': '3px solid green'}"
              ngModel
              #usernameRef = 'ngModel'
              required minlength="4" maxlength="10"
              name="username" placeholder="username" size="10"></label><br>

    <label>Password:<br>
      <input class="form-control"
             [(ngModel)]="user.password" type="password"
             [ngStyle]="{border: passwordRef.invalid && passwordRef.dirty?
              '3px solid red': '3px solid green'}"
             ngModel
             #passwordRef = 'ngModel'
             required minlength="4" maxlength="10"
             name="password" placeholder="password" size="10"></label><br>

    <button [disabled]="registerForm.invalid"
            (click)="saveUser(registerForm)" type="button">Sign In</button>
  </form>

</div>

<h3 style="color: blueviolet">{{responseRegistration}}</h3>

<div class="container">
  <form *ngIf="showLoginForm" #loginForm="ngForm">

    <label>Login:<br>
      <input  class="form-control"
              [(ngModel)]="userToLogin.username" type="text"
              [ngStyle]="{border: usernameRef.invalid && usernameRef.dirty?
              '3px solid red': '3px solid green'}"
              ngModel
              #usernameRef = 'ngModel'
              required minlength="4" maxlength="10"
              name="username" placeholder="username" size="10"></label><br>

    <label>Password:<br>
      <input class="form-control"
             [(ngModel)]="userToLogin.password" type="password"
             [ngStyle]="{border: passwordRef.invalid && passwordRef.dirty?
              '3px solid red': '3px solid green'}"
             ngModel
             #passwordRef = 'ngModel'
             required minlength="4" maxlength="10"
             name="password" placeholder="password" size="10"></label><br>


    <button [disabled]="loginForm.invalid"
            (click)="logInto(loginForm)" type="button">Log In</button>
  </form>

</div>

<h3 style="color: indigo">{{responseLogination}}</h3>

<div class="flex-container" *ngIf="showPurchases">
<div >
  <form  #addPurchaseForm="ngForm">
      <h3>Add a new purchase: </h3>
    <label>Name:<br>
      <input  class="form-control"
              [(ngModel)]="purchase.name" type="text"
              [ngStyle]="{border: nameRef.invalid && nameRef.dirty?
              '3px solid red': '3px solid green'}"
              ngModel
              #nameRef = 'ngModel'
              required minlength="3"
              name="name" placeholder="name" size="30"></label><br>

    <label>Price:<br>
      <input class="form-control"
             [(ngModel)]="priceOfPurchase" type="text"
             [ngStyle]="{border: priceRef.invalid && priceRef.dirty?
              '3px solid red': '3px solid green'}"
             ngModel
             #priceRef = 'ngModel'
             required pattern="^\d+(\.|\,)\d{2}$"
             name="price" placeholder="price" size="10"></label><br>

    <label>Date:<br>
      <input class="form-control"
             [(ngModel)]="purchase.date" type="date"
             [ngStyle]="{border: dateRef.invalid && dateRef.dirty?
    '3px solid red': '3px solid green'}"
             ngModel
             #dateRef = 'ngModel'
             required datatype=""
             name="date" ></label><br>

    <label>Currency:<br>
      <select [(ngModel)]="purchase.currency" name="currency"
              class="form-control"
              [ngStyle]="{border: currencyRef.invalid && currencyRef.dirty?
              '3px solid red': '3px solid green'}"
              ngModel
              #currencyRef = 'ngModel'
              required
      >
        <option value="UAH">UAH</option>
        <option value="PLN">PLN</option>
        <option value="USD">USD</option>
        <option value="EUR">EUR</option>
      </select>

    </label><br>

    <button [disabled]="addPurchaseForm.invalid"
            (click)="savePurchase(addPurchaseForm)" type="button">Save purchase</button>
  </form>

</div>

<div  >
  <h2>All purchases: </h2>
  <table class="table table-hover" style="width: 500px">
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Currency</th>
      <th>Date </th>
    </tr>

    <tr *ngFor="let p of purchases">
      <td>{{p.name}}</td>
      <td>{{p.price}}</td>
      <td>{{p.currency}}</td>
      <td>{{p.date | date: 'yyyy-MM-dd'}}</td>
    </tr>
  </table>
</div>

  <div >
    <form #dateToDeleteForm="ngForm">
      <h3>Clear:</h3>
      <label>Date:<br>
        <input class="form-control"
               [(ngModel)]="dateToDelete" type="date"
               [ngStyle]="{border: dateToDeleteRef.invalid && dateToDeleteRef.dirty?
      '3px solid red': '3px solid green'}"
               ngModel
               #dateToDeleteRef = 'ngModel'
               required datatype=""
               name="dateToDelete" ></label><br>

      <button [disabled]="dateToDeleteForm.invalid"
              (click)="deletePurchases(dateToDeleteForm)" type="button">Clear</button>
    </form>
  </div>
    <div >
      <form #billingYearForm="ngForm">
        <h3>Report:</h3>
        <label>Year:<br>
        <select [(ngModel)]="billingYear" name="currency"
                class="form-control"
                [ngStyle]="{border: billingYearRef.invalid && billingYearRef.dirty?
              '3px solid red': '3px solid green'}"
                ngModel
                #billingYearRef = 'ngModel'
                required
        >
          <option *ngFor="let y of years" value="{{y}}">{{y}}
          </option>
        </select>
        </label><br>

        <label>Currency:<br>
          <select [(ngModel)]="billingCurrency" name="billingCurrency"
                  class="form-control"
                  [ngStyle]="{border: billingCurrencyRef.invalid && billingCurrencyRef.dirty?
                  '3px solid red': '3px solid green'}"
                  ngModel
                  #billingCurrencyRef = 'ngModel'
                  required
          >
            <option value="UAH">UAH</option>
            <option value="PLN">PLN</option>
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
          </select>

        </label><br>

        <button [disabled]="billingYearForm.invalid"
                (click)="report(billingYearForm)" type="button">Report</button>
      </form  >

        <h4 *ngIf="showResultOnReport" style="color: blueviolet">
          Result : {{resultOnReport}}-{{billingCurrency}}</h4>
    </div>


</div>
<router-outlet></router-outlet>
