

<!--{{user.username}}-->
<!--&lt;!&ndash;<div *ngIf="showPurchaseForm">&ndash;&gt;-->
  <!--&lt;!&ndash;&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--<div class="container">-->
  <!--<form *ngIf="showAddPurchaseForm" #addPurchaseForm="ngForm">-->

    <!--<label>Name:<br>-->
      <!--<input  class="form-control"-->
              <!--[(ngModel)]="purchase.name" type="text"-->
              <!--[ngStyle]="{border: nameRef.invalid && nameRef.dirty?-->
              <!--'3px solid red': '3px solid green'}"-->
              <!--ngModel-->
              <!--#nameRef = 'ngModel'-->
              <!--required minlength="3"-->
              <!--name="name" placeholder="name" size="30"></label><br>-->

    <!--<label>Price:<br>-->
      <!--<input class="form-control"-->
             <!--[(ngModel)]="priceOfPurchase" type="text"-->
             <!--[ngStyle]="{border: priceRef.invalid && priceRef.dirty?-->
              <!--'3px solid red': '3px solid green'}"-->
             <!--ngModel-->
             <!--#priceRef = 'ngModel'-->
             <!--required pattern="^[1-9]\d*(\.\d+)?$"-->
             <!--name="price" placeholder="price" size="10"></label><br>-->

    <!--<label>Date:<br>-->
    <!--<input class="form-control"-->
    <!--[(ngModel)]="purchase.date" type="date"-->
    <!--[ngStyle]="{border: dateRef.invalid && dateRef.dirty?-->
    <!--'3px solid red': '3px solid green'}"-->
    <!--ngModel-->
    <!--#dateRef = 'ngModel'-->
    <!--required datatype=""-->
    <!--name="date" placeholder="date" size="40"></label><br>-->

    <!--<label>Currency:<br>-->
      <!--<select [(ngModel)]="purchase.currency" name="currency"-->
              <!--class="form-control"-->
              <!--[ngStyle]="{border: currencyRef.invalid && currencyRef.dirty?-->
              <!--'3px solid red': '3px solid green'}"-->
              <!--ngModel-->
              <!--#currencyRef = 'ngModel'-->
              <!--required-->
      <!--&gt;-->
        <!--<option value="UAH">UAH</option>-->
        <!--<option value="PLN">PLN</option>-->
        <!--<option value="USD">USD</option>-->
        <!--<option value="EUR">EUR</option>-->
      <!--</select>-->

    <!--</label><br>-->

    <!--<button [disabled]="addPurchaseForm.invalid"-->
            <!--(click)="savePurchase(addPurchaseForm)" type="button">Save purchase</button>-->
  <!--</form>-->

<!--</div>-->

<!--<div *ngIf="showPurchases" class="container">-->
  <!--<h2>Purchases: </h2>-->
  <!--<ul class="list-group">-->
    <!--<li *ngFor="let p of purchases" class="list-group-item">-->
      <!--<div  > {{p.name + ', '+ p.price + ', ' + p.currency}} {{p.date | date}}</div>-->

      <!--&lt;!&ndash;<button class="btn btn-outline-danger" (click)="deleteUser(u)">Delete</button>&ndash;&gt;-->
    <!--</li>-->
  <!--</ul>-->
<!--</div>-->
<!--&lt;!&ndash;<h5>{{responseOnDelete}}</h5>&ndash;&gt;-->
