<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<div class="addForm" *ngIf="show">
  <form  #addPurchaseForm="ngForm">
  <h3>Add a new purchase: </h3>
    <label>Name:<br>
      <input  class="form-control"
      [(ngModel)]="purchase.name" type="text"
      [ngStyle]="{border: nameRef.invalid && nameRef.dirty?
      '3px solid red': '3px solid green'}"
      ngModel
      #nameRef = 'ngModel'
      required minlength="3"
      name="name" placeholder="name" size="30"></label><br>

    <label>Price:<br>
      <input class="form-control"
      [(ngModel)]="priceOfPurchase" type="text"
      [ngStyle]="{border: priceRef.invalid && priceRef.dirty?
      '3px solid red': '3px solid green'}"
      ngModel
      #priceRef = 'ngModel'
      required pattern="^\d+(\.|\,)\d{2}$"
      name="price" placeholder="price" size="10"></label><br>

    <label>Date:<br>
      <input class="form-control"
      [(ngModel)]="purchase.date" type="date"
      [ngStyle]="{border: dateRef.invalid && dateRef.dirty?
      '3px solid red': '3px solid green'}"
      ngModel
      #dateRef = 'ngModel'
      required datatype=""
      name="date" ></label><br>

    <label>Currency:<br>
      <select [(ngModel)]="purchase.currency" name="currency"
      class="form-control"
      [ngStyle]="{border: currencyRef.invalid && currencyRef.dirty?
      '3px solid red': '3px solid green'}"
      ngModel
      #currencyRef = 'ngModel'
      required
      >
      <option value="UAH">UAH</option>
      <option value="PLN">PLN</option>
      <option value="USD">USD</option>
      <option value="EUR">EUR</option>
      </select>

      </label><br>

    <button [disabled]="addPurchaseForm.invalid"
    (click)="savePurchase(addPurchaseForm)" type="button">Save purchase</button>
  </form>
  <h3 style="color: darkviolet">{{responseOnSave}}</h3>

</div>


<router-outlet></router-outlet>
